<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/register.css">
    <title>Dashboard</title>
</head>

<body>
    <form action="/logout?_method=GET" method="POST" class=".form1">
        <h2>User Dashboard</h2>
        <div>
            <h1 class="half-head">Hi</h1>
            <h1>
                <%= name %>
            </h1>
        </div>
        <div>
            <h1 class="half-head">Your Email:</h1>
            <h1>
                <%= email %>
            </h1>
        </div>
        <div>
            <h1 class="half-head">Your Mobile No:</h1>
            <h1>
                <%= number %>
            </h1>
        </div>
        <button type="submit" class="sbtn">Logout</button>
    </form>

</body>

</html>
